@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

/* Inicio do Header */

header {
    background-color: #3C8EDA;
    height: 100px;
}


.posic_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posic_header img {
    width: 90%;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.bars {
    display: none;

}

.bars img {
    width:40px;
    color: white;
}

/* Fim do Header */

/* Inicio do Banner */

.banner {
    background-color: black;
    height: 600px;   
}

.posic_banner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.imagem_banner_1 {
    width: 50%;
}
.imagem_banner_2 {
    width: 40%;
}

.texto_banner {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 300;   
    padding-top: 15px; 
}

/* Fim do Banner */

/* Inicio sessão categorias */

.categorias {
    background-color: #3C8EDA;
    height: 100px;
}

.posic_categorias {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posic_categorias a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}



.item_disp_peq {
    display: none;
}


.posic_categorias img {
    width: 30px;
}


/* Fim sessão categorias */

/* Inicio sessão destaques */

.destaques {
    background-color: white;
    height: 950px;
}

.posic_destaques {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.posic_destaques h2 {
    text-transform: uppercase;
}

.text_especial {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_dest {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    margin: 0px 25px ;
    max-width: 100%;  
    width: 90%;    
}

.prod_dest img {
    width: fit-content;
    width: 100%;
}

.txt_itens_dest {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}


/* Fim classe destaques */

/* Inicio Sessão Promoçoes */


.promocoes {
    background-color: black;
    height: 950px;
}

.posic_promocoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.posic_promocoes h2 {
    text-transform: uppercase;
}

.txt_promo {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_promocoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;    

}

.prod_promo {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 25px ;  
    height: 100%;    

}

.img_promo img {
    width: fit-content;
    width: 100%;
}

.txt_itens_prom {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;  
}


/* Fim sessão promocoes */

/* Inicio Sessão redes sociais */


.redes_sociais {
    background-color: white;
    height: 450px;
}

.posic_sociais {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.col1_red_soc {
    width: 50%;
}

.posic_sociais h3 {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 50px 0;
}

.posic_icon_soci {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.posic_icon_soci img{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.text_redes_soc {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.posic_sociais p {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    padding-top: 10px;
    
}



/* Fim sessão redes sociais */

/* Inicio Footer */

footer {
    background-color: #3C8EDA;
    height: 450px;
}

.posic_footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coluna1 {
    width: 100%;
}

.coluna1 img {
    width: 90%;
    
}

.coluna2 {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    width: 100%;
}

.coluna3 {
    width: 100%;
}

.coluna3 h4 {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.imgs_pag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.lin1 {
    display: flex;
    justify-content: space-around;
}
.lin2 {
    display: flex;
    justify-content: space-around;
}

.imgs_pag img {
    align-self: center;
    margin: 10px 20px;
}

.img_pix {
    background-color: white;
}

.coluna3 p {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    padding: 30px 0 0;   
}

/* Fim do Footer */



/* Inicio Pagina de Contato */

/* Sessão Contato */

.contato {
    background-color: black;
    height: 100%;
    padding: 100px;
}

.posic_contato {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.pos_info_cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.col1_info_cont  {
   width: 100%;   
}
.col1_info_cont h2 {
    font-size: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    padding: 10px 0 0;
    text-transform: uppercase;   
}

.col1_info_cont a {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #3C8EDA;
    text-decoration: none; 
}

.col2_info_cont  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.col2_info_cont ol {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 10px 0px 0px;
    font-weight: bold;
    max-width: 80%;
}

.col2_info_cont li {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white; 
    
}

form {
    background-color: #3C8EDA;
    display: flex;
    flex-direction: column;
    width: 100% ;
}

.form_linha1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 30px 0px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name {
    width: 30%;
}

#email {
    width: 50%;
}

.form_linha2 {
    font-size: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 10px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.form_linha3 {
    font-size: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 20px 20px ;
    display: flex;
    justify-content:flex-end; 
}

.form_linha3 input {
    padding: 0px 40px;
}

/* Fim da sessão de Contatos */

/* Fim da Página de Contatos */




/* Inicio página Celulares */

.celulares {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_celulares {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.posic_celulares h2 {
    text-transform: uppercase;
}

.txt_cel {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_celulares {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_cel {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:400px ;
    width: 330px;    
}

.img_cel img{
    height:320px ;
    width: 300px; 
   
}

.txt_itens_cel {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

/* Fim da Página Celulares */


/* Inicio Pagina Destaques */


.pag_destaques {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_pag_destaques {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.posic_pag_destaques h2 {
    text-transform: uppercase;
}

.txt_pag_destaques {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_pag_destaques {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_pag_dest {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:450px ;
    width: 430px;  
}

.img_pag_dest img{
    height:320px ;
    width: 300px; 
    background-color: white;  
    
}

.txt_itens_pag_dest {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

/* Fim Pagina Destaques */

/* Inicio Pagina Promocoes */

.pag_Promocoes {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_pag_promocoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.posic_pag_promocoes h2 {
    text-transform: uppercase;
}

.txt_pag_prmocoes {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_pag_promocoes {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_pag_promo {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:450px ;
    width: 430px;  
}

.img_pag_promo img{
    height:320px ;
    width: 300px; 
    background-color: white;  
    
}

.txt_itens_pag_promo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}


/* Fim Pagina Promocoes */

/* Inicio layout Responsivo */

@media screen and (max-width: 1600px) {
    .banner {
        height: 500px;
    }
    
    .destaques {
        height: 800px;
    }
    
    .prod_dest img {
        width: 90%;
    }
    
    .txt_itens_dest {
        font-size: 16px;
    }

    .promocoes {
        height: 800px;
    }
    
    .img_promo img {
        width: 90%;
    }
    
    .txt_itens_prom {
        font-size: 16px;
    }

}

@media screen and (max-width: 1300px) {
    .banner {
        height: 400px;
    }
    
    .destaques {
        height: 700px;
    }
    .promocoes {
        height: 700px;
    }

    footer {
        height: 400px;
    }
    .coluna1 img {
        width: 80%;
    }
    .coluna2 {
        font-size: 20px;
    }

    .coluna3 h4 {
        font-size: 20px;
    }

    .imgs_pag {
        padding: 10px;
    }

    .imgs_pag img {
        width: 30%;
        margin: 10px;
    }

    .coluna3 p {
        font-size: 20px;
    }
}



@media screen and (max-width: 1200px) {
    .prod_sumir {
        display: none;
    }

    .posic_sociais h3 {
        font-size: 25px;
    }
    
    .posic_icon_soci img{
        width: 70%;
        padding: 0 15px;
    }

    .posic_sociais p {
        font-size: 25px;
    }

    .form_linha1 {
        font-size: 20px;
    }
    #name {
        width: 30%;
    }
    
    #email {
        width: 40%;
    }
    .form_linha2 {
        font-size: 20px;
    }
    .form_linha3 {
        font-size: 20px;
    }
}


@media screen and (max-width: 1000px) {
    .posic_header img {
        width: 80%;
    }
    
    .menu a {
        font-size: 20px;
    }
    
    .banner {
        height: 350px;
    }
    
    .texto_banner {
        font-size: 20px;
    }
    
    .posic_categorias a {
        font-size: 20px;
    }
    
    .text_especial {
        font-size: 20px;
    }
    .txt_promo {
        font-size: 20px;
    }
    .destaques {
        height: 600px;
    }
    .promocoes {
        height: 600px;
    }

    .redes_sociais {
        height: 300px;
    }

    .posic_sociais h3 {
        font-size: 20px;
    }
    
    .posic_icon_soci img{
        width: 50%;
        padding: 5px;
    }

    .posic_sociais p {
        font-size: 20px;
    }

    footer {
        height: 300px;
    }
    .coluna1 img {
        width: 80%;
    }
    .coluna2 {
        font-size: 16px;
    }

    .coluna3 h4 {
        font-size: 16px;
    }

    .imgs_pag {
        padding: 5px;
        padding-left: 10px;
        margin-left: 10px;
    }
    
    .imgs_pag img {
        width: 25%;
        margin: 5px;
      
    }

    .coluna3 p {
        font-size: 16px;
    }


    /* pag contato */

    .pos_info_cont {
        flex-direction: column;
        
    }

    .col1_info_cont  {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 25px;
    }


    /* pag destaques */
    
    .produtos_pag_destaques {
        justify-content: space-around;

    }

    .txt_pag_destaques {
        font-size: 20px;
        padding: 20px 80px;
    }
    
    /* pag promo */

    .produtos_pag_promocoes {
        justify-content: space-around;

    }

    .txt_pag_prmocoes {
        font-size: 20px;
        padding: 20px 80px;
    }



}



@media screen and (max-width: 800px) {
    .banner {
        height: 300px;
    }
    
    .destaques {
        height: 500px;
    }
    .promocoes {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .bars {
        display: inline-block;
    }
    
    .bars img {
        width: 40px;
    }

    .banner {
        background-image: url(../img/banner\ fundo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .imagem_banner_1 {
        display: none;
    }
    
    .imagem_banner_2 {
        display: none;
    }

    .texto_banner {
        font-size: 40px;
        font-weight: 100;
    }

    .posic_categorias {
        justify-content: space-around;
    }

    .posic_categorias a {
        font-size: 40px;
    }
    
    .itens_categ {
        display: none;
    }
    
    .item_disp_peq {
        display: inline-block;
       
    }
    

   
    
    /* sessão destaques */
    
    .destaques {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .text_especial {
        font-size: 20px;
        padding: 15px 50px
    }
    
    .produtos_destaques {
        flex-direction: column;
        padding: 15px;
    }
    
    .prod_dest {
        padding: 15px;
    }
    
    /* sessão promoções */
    
    .promocoes {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .txt_promo {
        font-size: 20px;
        padding: 15px 50px
    }

    .produtos_promocoes {
        flex-direction: column;
        padding: 15px;
    }

    .prod_promo {
        padding: 15px;
    }
    
    
    /* redes sociais */

    .redes_sociais {
        height: auto;
        padding: 30px;
    }
    
    .posic_sociais {
        flex-direction: column;
        padding: 20 0px;
        
    }

    .col1_red_soc {
        width: 90%;
    }
    
    .posic_icon_soci {
        width: 100%;
        padding-bottom: 25px;
    }
    .text_redes_soc {
        justify-content: center;
        
    }
    .posic_sociais p {
        max-width: 80%;
    }

    

    /* footer */
    
    footer {
        height: auto;
    }
    
    .posic_footer {
        flex-direction: column;
    }
    
    .coluna1 {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .coluna1 img {
        width: 50%;
        
    }
    
    .coluna2 {
        padding: 25px 0;
    }
    
    .coluna3 h4 {
        padding: 20px 0;
    }
    
    .coluna3 p {
        padding: 20px 0;
    }
    

    /* pag contato */

    .contato {
        padding: 50px 0;
    }
    
    .col1_info_cont  {
        width: 100%;
    }
    
    .col1_info_cont h2  {
        font-size: 20px;
        text-align: center;
        padding: 0px;
    }
    
    .col1_info_cont a  {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }
    
    .col2_info_cont  {
        width: 90%;
        
    }
    .col2_info_cont ol {
        font-size: 20px;
        text-align: center;
        padding: 0px;
        
    }
    .col2_info_cont li  {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }


    .form_linha1 {
        font-size: 16px;
    }
    #name {
        width: 30%;
    }
    
    #email {
        width: 40%;
    }
    .form_linha2 {
        font-size: 16px;
    }
    .form_linha3 {
        font-size: 16px;
    }

    /* celulares */

    .txt_cel {
        font-size: 20px;
        padding: 20px 40px ;
    }

    .produtos_celulares {
        justify-content: space-around;
    }


}


@media screen and (max-width: 400px) {
    .texto_banner {
        font-size: 30px;
        
    }
    
    .posic_sociais h3 {
        font-size: 16px;
    }
    .posic_sociais p {
        font-size: 16px;
    }
    .coluna1 {
        padding: 25px;
        
    }
    .coluna1 img {
        width: 70%;
        
        
    }
    .form_linha1 {
        flex-direction: column;
        align-items: baseline;
        padding-left: 20px;
    }
    #name {
        width: 94%;
    }
    
    #email {
        width: 94%;
    }
 
    .txt_cel {
        font-size: 16px;
        padding: 20px 30px ;
    }

    .img_cel img{
        height:270px ;
        width: 250px; 
       
    }


}