@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

/* Inicio do Header */

header {
    background-color: #3C8EDA;
    height: 100px;
}


.posic_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posic_header img {
    width: 90%;
}

.menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

/* Fim do Header */

/* Inicio do Banner */

.banner {
    background-color: black;
    height: 600px;   
}

.posic_banner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;
}

.imagem_banner_1 {
    width: 50%;
}
.imagem_banner_2 {
    width: 40%;
}

.texto_banner {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 300;     
}

/* Fim do Banner */

/* Inicio sessão categorias */

.categorias {
    background-color: #3C8EDA;
    height: 100px;
}

.posic_categorias {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posic_categorias a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}


/* Fim sessão categorias */

/* Inicio sessão destaques */

.destaques {
    background-color: white;
    height: 950px;
}

.posic_destaques {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.posic_destaques h2 {
    text-transform: uppercase;
}

.text_especial {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_dest {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    padding: 0px 50px ;      
}

.txt_itens_dest {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    
}


/* Fim classe destaques */

/* Inicio Sessão Promoçoes */


.promocoes {
    background-color: black;
    height: 950px;
}

.posic_promocoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.posic_promocoes h2 {
    text-transform: uppercase;
}

.txt_promo {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_promocoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_promo {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;  
    height: 100%;    
}

.txt_itens_prom {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;  
}


/* Fim sessão promocoes */

/* Inicio Sessão redes sociais */


.redes_sociais {
    background-color: white;
    height: 450px;
}

.posic_sociais {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posic_sociais h3 {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 50px 0;
}

.posic_icon_soci {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.posic_sociais p {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    
}



/* Fim sessão redes sociais */

/* Inicio Footer */

footer {
    background-color: #3C8EDA;
    height: 450px;
}

.posic_footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coluna1 {
    width: 100%;
}

.coluna2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    width: 100%;
}

.coluna3 {
    width: 100%;
}

.coluna3 h4 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.imgs_pag {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.imgs_pag img {
    align-self: center;
    margin: 10px 20px;
}

.img_pix {
    background-color: white;
}

.coluna3 p {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    padding: 30px 0 0;   
}

/* Fim do Footer */



/* Inicio Pagina de Contato */

/* Sessão Contato */

.contato {
    background-color: black;
    height: 100%;
    padding: 100px;
}

.posic_contato {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.pos_info_cont {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.col1_info_cont h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 900;
    padding: 10px 0 0;
    text-transform: uppercase;   
}

.col1_info_cont a {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #3C8EDA;
    text-decoration: none; 
}

.col2_info_cont ol {
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 10px 0px 0px;
    font-weight: bold;
}

.col2_info_cont li {
    font-size: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white; 
    padding-left: 90px;  
}

form {
    background-color: #3C8EDA;
    display: flex;
    flex-direction: column;
    width: 100% ;
}

.form_linha1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 30px 0px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name {
    width: 30%;
}

#email {
    width: 50%;
}

.form_linha2 {
    font-size: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 10px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.form_linha3 {
    font-size: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: white;   
    padding: 20px 20px ;
    display: flex;
    justify-content:flex-end; 
}

.form_linha3 input {
    padding: 0px 40px;
}

/* Fim da sessão de Contatos */

/* Fim da Página de Contatos */




/* Inicio página Celulares */

.celulares {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_celulares {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}

.posic_celulares h2 {
    text-transform: uppercase;
}

.txt_cel {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_celulares {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_cel {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:400px ;
    width: 330px;    
}

.img_cel img{
    height:320px ;
    width: 300px; 
   
}

.txt_itens_cel {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

/* Fim da Página Celulares */


/* Inicio Pagina Destaques */


.pag_destaques {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_pag_destaques {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.posic_pag_destaques h2 {
    text-transform: uppercase;
}

.txt_pag_destaques {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_pag_destaques {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_pag_dest {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:450px ;
    width: 430px;  
}

.img_pag_dest img{
    height:320px ;
    width: 300px; 
    background-color: white;  
    
}

.txt_itens_pag_dest {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}

/* Fim Pagina Destaques */

/* Inicio Pagina Promocoes */

.pag_Promocoes {
    background-color: black;
    height: 100%;
    padding: 100px 0px;
}

.posic_pag_promocoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.posic_pag_promocoes h2 {
    text-transform: uppercase;
}

.txt_pag_prmocoes {
    background-color: #3C8EDA;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.produtos_pag_promocoes {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.prod_pag_promo {
    display: flex;
    flex-direction: column;
    justify-content: baseline; 
    align-items: center;
    padding: 0px 50px ;
    margin: 50px 0px;  
    height:450px ;
    width: 430px;  
}

.img_pag_promo img{
    height:320px ;
    width: 300px; 
    background-color: white;  
    
}

.txt_itens_pag_promo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
}


/* Fim Pagina Promocoes */